html{
    background-image: url(cloud\ background.jpg);
    background-repeat: repeat;
    font-family: 'Open Sans', sans-serif;

}

#wrapper {
  margin: 1em auto;
  width: 1030px;
  border: 3px solid #5699cf;
  background-color: #d4f5ff;
  border-radius: 30px;
  padding: 1em;
}
#wrapper2 {
  margin: 1em auto;
  width: 1030px;
  border: 3px solid #5699cf;
  background-color: #d4f5ff;
  border-radius: 30px;
  padding: 1em;
}

    
      nav li a {
        color:#ffffff;
       
        font-size: larger;
        font-style:normal;
        text-decoration: none;
        margin: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 100px;
        border:#000;
        background-color: rgb(255, 125, 108);
    
    }
    header{
        border-color:5px solid #000;
        grid-column: span (12);
      }
    nav li{
        display:inline-block;
        list-style-type: none;
        margin-left: 150px;
        margin-right:0px;

    }
    nav li a:hover {
        color:#cccccc;
        background-color:#0062a9;
      }
     .simpletitle{
                
               
                padding-left: 2x;  
            }  

