html{
    background-image: url(violet\ witch\ background.png);
    background-repeat: repeat;
    font-family: 'Open Sans', sans-serif;
}
    
      nav li a {
        color:#ffffff;
        
        font-size: larger;
        font-style:normal;
        text-decoration: none;
        margin: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 100px;
        border:#000;
        background-color: rgb(255, 125, 108);
    
    }
    header{
        border-color:5px solid #000;
        grid-column: span (12);
      }
    nav li{
        display:inline-block;
        list-style-type: none;
        margin-left: 150px;
        margin-right:0px;

    }
    nav li a:hover {
        color:#cccccc;
        background-color:#0062a9;
      }

      
    .box {
        margin: 5em auto;
        padding: 0;
        width: 1050px;
        border: 5px solid  #3fafff;
        border-radius: 30px;
        background-color: #ffffff;
        display: grid;
        grid-template-columns: repeat(12) 1fr;
       
        }
        .box2 {
            margin: 10em auto;
            padding: 0;
            width: 1050px;
            display: grid;
            grid-template-columns: repeat(12,1fr);
        
            }

            .videocontainer{
                grid-column: span 7;
            }
            .videobox{
                grid-column: span 7;
                background-color: #ffffff;
                border: 5px solid  #3fafff; 
                border-radius: 30px;
               
        
            }
            .title {
                grid-column: span 5;
                padding: 0;
                border: 5px solid  #3fafff;
                border-radius: 30px;
                background-color: #ffffff;
                margin-left: 50px;
                display:grid;
                align-self: center;
                justify-content: center;
                
                font-size: larger;
                font-style:normal;
                text-align: center;
                
            }
            .simpletitle{
               
                font-size: larger;
                font-style:normal;
                padding-left: 2x;  
            }

          
        .invisibox{
             display:grid;
             margin: 5em 10px 10px 100px ;
             padding: 0;
             width: 900px;
             border: 0px solid #0062a9;
             grid-template-columns: repeat(12, 1fr);
             grid-gap: 20px;
         }
         .music{
            color:#ffffff;
            grid-column: span 12;
            margin-left: 20px;
           
            font-size: 20px;
            font-style:normal;
         }
          .line{
             
             border: 3px solid #3fafff;
             grid-column: span 9;
             align-self: center;
             border-radius: 30px;
             height: 0px;
        
          }
         .playbutton {
             padding: 10px;
             width: 250px;
             height: 250px;
             border: 10px solid #3fafff;
             background-color: #ffffff;
             color: white;
             border-radius: 500px;
             margin-left: 0px;
             display: inline-block;
        }


        .box3 {
             margin: 10em auto;
             padding: 0;
             width: 1050px;
             border: 0px solid #0062a9;
             display: grid;
             grid-template-columns: repeat(12,1fr);
             
            }
            .mebox{
                grid-column: span 7;
                border: 5px solid  #3fafff;
                background-color: #ffffff;
                border-radius: 30px;
                display:grid;
                justify-content: center;
                
                font-size: larger;
                font-style:normal;
            }
           
            .mephoto {
                grid-column: span 5;
                padding: 0;
                border: 5px solid  #3fafff;
                background-color: #ffffff;
                border-radius: 30px;
                margin-left: 100px;
            }
    .photoshapper {
        border-radius: 25px;
    }
